VITE_API_URL=http://localhost:5000/api
VITE_FIREBASE_API_KEY=AIzaSyB5Z0XHTTbizCV_irSeXQv2Vo7V5fKl580
VITE_FIREBASE_AUTH_DOMAIN=astra-learn-706cb.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=astra-learn-706cb
VITE_FIREBASE_STORAGE_BUCKET=astra-learn-706cb.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=391960859686
VITE_FIREBASE_APP_ID=1:391960859686:web:286c69f9451169d68242e7
